@page "/counter"

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int CurrentCount { get; set; } = 0;
    [Parameter]
    public int Amount { get; set; } = 1;

    private void IncrementCount()
    {
        CurrentCount += Amount;
    }
}
