@page "/todo"
@using LearningBlazor.Models

@if (LocalItems is null) {
    <p><em>Loading...</em></p>
}
else {
    <h3>To do (@Incompleted)</h3>

    if (LocalItems.Count > 0) {
        <ul>
            @foreach (var item in LocalItems) {
                @if (item.Author is null) {
                    continue;
                }
                <li>
                    <em>@item.Category.Name</em>
                    <input type="checkbox" @bind="item.IsDone" />
                    <input @bind="item.Title" />
                    by @item.Author.Name
                    <button @onclick="async() => await DeleteItemAsync(item.Id)"><b>Delete</b></button>
                </li>
            }
        </ul>
    }

    <select @bind="NewCategory.Id">
        @foreach (var category in Category.DefaultCategories) {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <input placeholder="Something to do" @bind="NewItem.Title" />
    <button @onclick="AddItemAsync">Add item</button>
}